export(getColors)
export(plot.CircleIdeogram)
export(plot.distToFeature)
export(plot.inFeature)
export(plot.siteLogo)
import(RColorBrewer)
import(dataframe)
import(ggbio)
import(grid)
import(gridExtra)
import(reshape)
import(scales)
import(seqLogo)
